# Copyright (c) 2017-present SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - internal
  - external
  - ../nginx/bases/configs

patchesJson6902:
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: Role
      name: ingress-nginx
    path: patch/rbac.yml
  - target:
      group: ""
      version: v1
      kind: Service
      name: ingress-nginx-controller-metrics
    path: patch/sm-service.yml
