# Copyright (c) 2017-present SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../katalog/cert-manager

images:
  - name: registry.sighup.io/fury/jetstack/cert-manager-webhook
    newName: quay.io/jetstack/cert-manager-webhook
  - name: registry.sighup.io/fury/jetstack/cert-manager-controller
    newName: quay.io/jetstack/cert-manager-controller
  - name: registry.sighup.io/fury/jetstack/cert-manager-cainjector
    newName: quay.io/jetstack/cert-manager-cainjector
