apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: ingress-nginx
  name: ingress-nginx
spec:
  endpoints:
    - interval: 10s
      port: metrics
      scheme: http
  jobLabel: k8s-app
  namespaceSelector:
    matchNames:
      - ingress-nginx
  selector:
    matchLabels:
      app: ingress-nginx
---
kind: Service
apiVersion: v1
metadata:
  name: ingress-nginx-metrics
  labels:
    app: ingress-nginx
spec:
  selector:
    app: ingress-nginx
  ports:
    - name: metrics
      port: 10254
      targetPort: metrics
