# Copyright (c) 2017-present SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

transformers:
  - ./patch/suffix.yml

resources:
  - ../../nginx/bases/controller

commonLabels:
  app: ingress
  type: internal

patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: DaemonSet
      name: ingress-nginx-controller
    path: patch/daemonset.yml
  - target:
      group: ""
      version: v1
      kind: Service
      name: ingress-nginx
    path: patch/service.yml
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: ingress-nginx-controller
    path: patch/cm.yml
  - target:
      group: cert-manager.io
      version: v1
      kind: Certificate
      name: ingress-nginx-admission
    path: patch/tls-cert.yml
  - target:
      group: admissionregistration.k8s.io
      version: v1
      kind: ValidatingWebhookConfiguration
      name: ingress-nginx-admission
    path: patch/validating-webhook.yml

patches:
- target:
    kind: IngressClass
    name: nginx
    version: v1
  patch: |-
    - op: replace
      path: /metadata/name
      value: internal
    - op: remove
      path: /metadata/annotations
    - op: replace
      path: "/apiVersion"
      value: networking.k8s.io/v1
    - op: replace
      path: /spec/controller
      value: k8s.io/internal
